# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

build/
.gradle/
.idea/
local.properties
*.log
.DS_Store
__pycache__/
*.pyc
node_modules/
dist/
.env
*.class
*.apk
*.ipa